@model IEnumerable<Product>

<div class="m-2">
    <h1 class="text-primary">Products</h1>
    <div class="m-3">
        <a href="/Product/InsertProduct/"><h3 class="text-success"><i class="fa-solid fa-plus"></i> Create a New Product</h3></a>
    </div>
    <table id="productTable" class="table table-striped table-dark table-hover">
        <tr>
            <th>ProductID</th>
            <th>Name</th>
            <th>Price</th>
            <th>CategoryID</th>
            <th>OnSale</th>
            <th>StockLevel</th>
        </tr>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td><a href=/Product/ViewProduct/@product.ProductID>@product.ProductID</a></td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.CategoryID</td>
                    <td>@product.OnSale</td>
                    <td>@product.StockLevel</td>
                    @*<td><a href="/ShoppingCart/AddToCart/@product.ProductID"><i class="fa-solid fa-plus"></i> <i class="fa-solid fa-cart-shopping"></i></a></td>*@
                </tr>
            }
        </tbody>
    </table>

</div>

